@font-face {
  font-family: Prompt-Italic;
  src: url(./font/Prompt-Italic.ttf) format("truetype");
}
@font-face {
  font-family: Prompt-ExtraBold;
  src: url(./font/Prompt-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: Gotham-Black;
  src: url(./font/Gotham-Black.otf) format("truetype");
}
@font-face {
  font-family: Prompt-Bold;
  src: url(./font/Prompt-Bold.ttf) format("truetype");
}
@font-face {
  font-family: Prompt-BoldItalic;
  src: url(./font/Prompt-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: Prompt-SemiBold;
  src: url(./font/Prompt-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: Prompt-Regular;
  src: url(./font/Prompt-Regular.ttf) format("truetype");
}

.font-1 {
  font-size: calc(1.1vw + 1vh);
}
.font-2 {
  font-size: calc(0.2vw + 1vh);
}
.mt-2 {
  margin-top: -7%;
}
.font-color-red {
  color: #f86168;
}
.bg-p {
  background: -webkit-linear-gradient(1deg, #BDC3C6, #62e4e2);
  color: black;
  border-radius: 15px;
  padding-left: 4%;
  font-size: calc(0.05vw + 1vh);
  margin: 0%;
  font-family: Prompt-SemiBold;

}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
#container {
  padding: 1%;
  background-color: #eaeaea;
  display: grid;
  justify-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
#nav {
  background-color: #046091;
  display: grid;
  /* flex-direction: row; */
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(2, 500px 1fr);
  /* grid-template-rows: repeat(1, 1fr); */
  /* justify-content: center; */
  /* align-items: stretch; */
}

.nav-d-1 {
  /* background-color: #BDC3C6; */
  padding: 2%;
  width: 480px;
}
.nav-text1 {
  margin: 0%;
  /* padding: -3% 0% 0% 0px; */
  padding-top: -15px;
  padding-bottom: 0px;
  font-size: 1.6rem;
  text-align: center;
  background: -webkit-linear-gradient(15deg, #f86168, #feac40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Prompt-ExtraBold, sans-serif;
  /* font-family: Gotham-Black, sans-serif; */
}
.nav-text2 {
  padding-top: 29px;
  font-family: Prompt-ExtraBold;
  color: #ffffff;
  font-size: 2.9rem;
  text-shadow: 0px -4px 0px;
  background: -webkit-linear-gradient(10deg, #f86168, #feac40);
  /* -webkit-text-stroke: 3px black; */
  -webkit-text-stroke-color: 3px black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}
.nav-d1-d1 {
  background-color: #cdd8e1;
  padding: 9px 0px 9px 0px;
  margin: 0%;
  border-radius: 15px;
  box-shadow: inset 0.1em 0.1em 1em rgb(255, 255, 255),
    0 0 0 1px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.nav-d1-d2 {
  padding: 15px 0px 0px 0px;
  margin: 0%;
}

.nav-d-2 {
  grid-column: 2 / 5;
  /* background-color: #BDC3C6; */
  padding: 1%;
  width: auto;
}
.nav-hr {
  height: 6px;
  margin: 1% 0% 1% 0%;
  background: -webkit-linear-gradient(10deg, #f86168, #feac40);
  border-radius: 5px;
  opacity: 100%;
}
.nav-d2-d2 {
  display: flex;
}
.nav-d1-text-title {
  font-family: Prompt-ExtraBold;
  color: #62e4e2;
  font-size: 1.2rem;
}
.nav-d2-text-title {
  font-family: Prompt-ExtraBold;
  color: #62e4e2;
  font-size: 1.3rem;
}
.nav-d1-text-sub {
  font-family: Prompt-ExtraBold, sans-serif;
  color: white;
  font-size: 1.2rem;
}
.nav-d2-text-sub {
  font-family: Prompt-Italic, sans-serif;
  color: white;
  font-size: 1.2rem;
}

.one {
  grid-column-start: 1;
}

.two {
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: max-content;
}

.two img {
  position: absolute;
  /* z-index: -1; */
  margin-top: 5%;
  padding: 0%;
  width: 10%;
}

.item2-circle {
  background-color: orange;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  opacity: 50%;
  display: inline-block;
}

.three {
  background-color: #ffffff;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  width: 100%;
  padding: 3%;
  border-radius: 15px;
  height: max-content;
}

.four {
  grid-column-start: 4;
  grid-row: 1 / 3;
  width: 100%;
  height: max-content;

}

.five {
  grid-column-start: 1;
  grid-row: 2 / 3;
}

.six {
  grid-column-start: 2;
  grid-row: 2 / 4;
  width: 100%;
}

.seven {
  grid-column: 3 / 4;
  grid-row: 3 / 3;
}

.eight {
  grid-column: 4 / 5;
  grid-row: 3 / 3;
  width: 100%;
  margin-top: -20%;
  height: max-content;
  background-color: #ffffff;
  border-radius: 15px;
}

.nine {
  grid-column-start: 1;
  grid-row: 4 / 3;
  width: 100%;
}

.item_one-title {
  margin-top: -7%;
  font-family: Prompt-Bold;
  font-size: calc(4.1vw + 1vh);
  background: -webkit-linear-gradient(63deg, #046091, #62e4e2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item_one-d1 {
  display: flex;
}
.item_one-d1-text1 {
  padding-left: 2.8%;
  margin-top: -1%;
}
.item_one-subtext1 {
  font-family: Prompt-ExtraBold, sans-serif;
  font-size: calc(0.77vw + 0.4vh);
  border-bottom: 2px solid transparent;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, #046091, #62e4e2);
}
.item_one-subtext2 {
  font-family: Prompt-Italic;
  font-size: calc(0.65vw + 0.4vh);
  line-height: 0.9;
  padding-top: 4%;
}
.item_one-subtext3 {
  margin-top: -8%;
  font-family: Prompt-Bold;
  font-size: calc(1.9vw + 1vh);
  background: -webkit-linear-gradient(63deg, #046091, #62e4e2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item_one-subtext4 {
  font-family: Prompt-Italic;
  font-weight: bold;
  margin-top: -5%;
}
.item_three-title {
  font-family: Prompt-BoldItalic;
  font-size: calc(1vw + 1vh);
}
.item_three-titletwo {
  font-family: Prompt-BoldItalic;
  font-size: calc(1vw + 1vh);
  margin-top: -6%;
}
.item_three-titlethree {
  background: -webkit-linear-gradient(10deg, #f86168, #feac40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Prompt-SemiBold;
  font-size: calc(2.4vw + 1vh);
  margin-top: -8%;
}
.item_three-titlefour {
  font-family: Prompt-SemiBold;
  font-size: calc(2.4vw + 1vh);
  margin-top: -13%;
  background: -webkit-linear-gradient(10deg, #f86168, #feac40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item_three-titlefive {
  font-family: Prompt-SemiBold;
  font-size: calc(0.34vw + 1vh);
  margin-top: -6%;
  text-align: center;
}
.item_three-imgmap {
  max-width: 100%;
  margin-top: 3%;
}
.item_three-box1 {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  padding: 1.4%;
  color: #ffffff;
  border-radius: 10px;
  background: -webkit-linear-gradient(135deg, #046091, #62e4e2);
}
.item_three-box1 p {
  margin: 0%;
  font-family: Prompt-SemiBold;
  font-size: calc(0.2vw + 1vh);
}
.box1 {
  margin-top: 1%;
}
.item_three-text1 {
  font-family: Prompt-BoldItalic;
  font-size: calc(0.2vw + 1vh);
  margin-top: 2%;
  margin-bottom: 1%;
  color: #24434f;
}
.item_three-box2 {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, white 30%, #62e4e2, #046091 90%)
    border-box;
  border-radius: 15px;
  margin-top: 3%;
  font-family: Prompt-SemiBold;
  font-size: calc(0.27vw + 1vh);
}
.item_three-box2-1 {
  display: flex;
  align-items: center;
  width: 60%;
  color: black;
}

.item_three-box2-text2 {
  color: #ffffff;
  padding-right: 5%;
}
.item_three-box2-icon {
  margin-right: 2%;
  filter: invert(75%) sepia(36%) saturate(528%) hue-rotate(129deg)
    brightness(98%) contrast(96%);
}
#item_four-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card-itemfour {
  background-color: transparent;
  
}
.item_four-card-title {
  font-family: Prompt-ExtraBold;
  color: #f86168;
  font-size: 2.8rem;
  text-shadow: 0px 3px 0px #046091;
  margin-left: -8%;
  margin-right: 3%;
}
.item_four-d1 {
  display: flex;
  align-items: center;
}
.item_four-d1-text1 {
  font-family: Prompt-ExtraBold;
  color: #f86168;
  font-size: calc(0.7vw + 1vh);
}
.item_four-d1-text2 {
  font-family: Prompt-ExtraBold;
  color: #046091;
  font-size: calc(0.2vw + 1vh);
}
.item_four-d1-text2 p{
margin-bottom: 0%;
}
.item_four-text2 {
  margin-left: 21%;
  margin-top: -24%;
}
.card-itemseven {
  background-color: transparent;
}
.item_seven-card-title {
  font-family: Prompt-ExtraBold;
  color: #f86168;
  font-size: 2.8rem;
  text-shadow: 0px 3px 0px #046091;
  margin-left: -8%;
  margin-right: 3%;
}
.item_seven-card-titletwo {
  font-family: Prompt-ExtraBold;
  font-size: calc(0.5vw + 1vh);
}
.item_seven-card-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.item_seven-d1 {
  display: flex;
  padding: 2%;
  font-family: Prompt-ExtraBold;
  font-size: calc(0.24vw + 1vh);
}
.item_seven-d1text1 {
  color: #046091;
  border-right: 2px solid transparent;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to top, #046091, #62e4e2);
  width: 100%;
}
.item_seven-d1text2 {
  color: #046091;
  padding-left: 3%;
  width: 100%;
}
.item_four-d1-select {
  margin: 0% 4% 0% 5%;
}
#select1 {
    border-radius: 55rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    color: #BDC3C6;
    font-family: Prompt-Regular;
    font-size: calc(1vw + 1vh);
}
.item_four-title {
  background-color: #046091;
  color: #ffffff;
  border-radius: 35px;
  font-size: calc(1vw + 1vh);
  font-family: Prompt-SemiBold;
  text-align: center;
  padding: 2%;
  margin: 8% 4% 0% 5%;
}
.item_four-d1 {
  display: flex;
  padding: 2%;
  font-family: Prompt-ExtraBold;
  font-size: calc(0.24vw + 1vh);
}
.item_four-d1text1 {
  color: #046091;
  border-right: 2px solid transparent;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #046091, #62e4e2);
  width: 100%;
}
.item_four-textd1 {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.item_four-textd1-d1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}
.item_four-textd1-1 {
  font-family: Prompt-ExtraBold;
  color: #ffffff;
  font-size: 6rem;
  text-shadow: 7px 8px 1px #046091;
  margin: -20%;
}
.item_four-textd1-2 {
  font-family: Prompt-ExtraBold;
  color: black;
  font-size: 1.3rem;
  padding-left: 0.69%;
}
.item_four-textd1-3 {
  font-family: Prompt-ExtraBold;
  color: #f86168;
  font-size: 1.5rem;
  direction: rtl;
  display: flex;
  align-items: flex-end;
}
.item_four-textd2 {
  background-color: #24434f;
  color: #eaeaea;
  font-size: 1.5rem;
  height: 40%;
  max-width: 100%;
  margin-top: 5%;
}
.item_four-card-title {
  font-family: Prompt-ExtraBold;
  color: #f86168;
  font-size: 3.7rem;
  text-shadow: 0px 3px 0px #FEAC40;
  margin-left: -8%;
  margin-right: 3%;
}
.item_four-card-titletwo {
  font-family: Prompt-ExtraBold;
  font-size: calc(0.8vw + 1vh);
}
.item_four-card-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.item_four-card-bodytwo {
  display: flex;
  padding: 0% 3% 0% 3%;
  justify-content: space-between;
  align-items: center;
  font-family: Prompt-ExtraBold;
  color: #046091;
  font-size: calc(0.5vw + 1vh);
}
.item_eight-d1 {
  display: flex;
  padding: 2%;
  font-family: Prompt-ExtraBold;
  font-size: calc(0.24vw + 1vh);
  border-radius: 15px;
}
.item_eight-d1text1 {
  font-size: calc(0.5vw + 1vh);
  color: #046091;
  width: 100%;
}
.item_eight-d1text2 {
  color: #046091;
  padding-left: 3%;
  width: 100%;
  direction: rtl;
}
.item_eight-hr {
  height: 6px;
  margin: -3% 2% 0% 2%;
  background: -webkit-linear-gradient(10deg, #046091, #62e4e2);
  border-radius: 5px;
  border-top: 0px;
  opacity: 100%;
}
.item_six-title {
  background-color: #ffffff;
  text-align: center;
  border-radius: 50px;
  padding: 1%;
  font-family: Prompt-ExtraBold;
  font-size: calc(0.7vw + 1vh);
  border: 4px solid ;
  /* border-image-slice: 1;
  border-image-source: linear-gradient(to right, #046091, #62e4e2 ); */
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, #046091, #62e4e2) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}
.item_six-titletwo {
  text-align: center;
}
.item_six-text1 {
  font-family: Prompt-ExtraBold;
  font-size: calc(0.3vw + 1vh);
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0%;
}
.item_six-card-body {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.item_six-d1-img-1 {
  max-width: 100%;
  padding: 5%;
}
.item_six-img-1 {
  filter: invert(89%) sepia(12%) saturate(105%) hue-rotate(155deg) brightness(89%) contrast(83%);
  width: 30px;
  height: 25px;
}
.item_six-img-2 {
  filter: invert(64%) sepia(90%) saturate(4164%) hue-rotate(320deg) brightness(98%) contrast(98%);  
  width: 30px;
  height: 25px;
}
.item_six-img-3 {
  filter: invert(17%) sepia(81%) saturate(3098%) hue-rotate(185deg) brightness(100%) contrast(97%);  
  width: 30px;
  height: 25px;
}
.item_six-d1 {
    width: 170px;
    padding: 3%;
}
.item_six-subtext1 {
  color: #24434f;
  font-family: Prompt-BoldItalic;
  font-size: calc(0.2vw + 1vh);
}
.item_six-subtext2 {
  color: #f86168;
  font-family: Prompt-ExtraBold;
  font-size: calc(2.8vw + 1vh);
  text-shadow: 2px 3px 0px rgba(98, 228, 226, 0.24);
  margin-bottom: 0%;
  margin-top: -5%;
}
.item_six-subtext3 {
  color: #f86168;
  font-family: Prompt-ExtraBold;
  font-size: calc(0.9vw + 1vh);
  text-shadow: 2px 3px 0px rgba(98, 228, 226, 0.24);
  margin-bottom: 0%;
  margin-top: -5%;
}
@media (max-width: 800px) {
  #container {
    grid-template-columns: 1fr;
  }
}
