@font-face {
  font-family: Prompt-Italic;
  src: url(./font/Prompt-Italic.ttf) format("truetype");
}
@font-face {
  font-family: Prompt-ExtraBold;
  src: url(./font/Prompt-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: Gotham-Black;
  src: url(./font/Gotham-Black.otf) format("truetype");
}
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

#nav {
  background-color: #046091;
  display: grid;
  /* flex-direction: row; */
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(2, 500px 1fr);
  /* grid-template-rows: repeat(1, 1fr); */
  /* justify-content: center; */
  /* align-items: stretch; */
}

.nav-d-1 {
  /* background-color: #BDC3C6; */
  padding: 2%;
  width: 480px;
}
.nav-text1 {
  margin: 0%;
  /* padding: -3% 0% 0% 0px; */
  padding-top: -15px;
  padding-bottom: 0px;
  font-size: 1.6rem;
  text-align: center;
  background: -webkit-linear-gradient(15deg, #f86168, #feac40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Prompt-ExtraBold, sans-serif;
  /* font-family: Gotham-Black, sans-serif; */
}
.nav-text2 {
  padding-top: 29px;
  font-family: Prompt-ExtraBold;
  color: #ffffff;
  font-size: 2.9rem;
  text-shadow: 0px -4px 0px;
  background: -webkit-linear-gradient(10deg, #f86168, #feac40);
  /* -webkit-text-stroke: 3px black; */
  -webkit-text-stroke-color: 3px black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}
.nav-d1-d1 {
  background-color: #cdd8e1;
  padding: 9px 0px 9px 0px;
  margin: 0%;
  border-radius: 15px;
  box-shadow: inset 0.1em 0.1em 1em rgb(255, 255, 255),
    0 0 0 1px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.nav-d1-d2 {
  padding: 15px 0px 0px 0px;
  margin: 0%;
}

.nav-d-2 {
  grid-column: 2 / 5;
  /* background-color: #BDC3C6; */
  padding: 1%;
  width: auto;
}
.nav-hr {
  height: 6px;
  margin: 1% 0% 1% 0%;
    background: -webkit-linear-gradient(10deg, #f86168, #feac40);
    border-radius: 5px;
    opacity: 100%;
}
.nav-d2-d2 {
  display: flex;
}
.nav-d1-text-title {
  font-family: Prompt-ExtraBold;
  color: #62e4e2;
  font-size: 1.2rem;
}
.nav-d2-text-title {
  font-family: Prompt-ExtraBold;
  color: #62e4e2;
  font-size: 1.3rem;
}
.nav-d1-text-sub {
  font-family: Prompt-ExtraBold, sans-serif;
  color: white;
  font-size: 1.2rem;
}
.nav-d2-text-sub {
  font-family: Prompt-Italic, sans-serif;
  color: white;
  font-size: 1.2rem;
}
#container {
  background-color: aliceblue;
  display: grid;
  justify-items: center;
  /* align-items: center; */
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* grid-auto-rows: 200px; */
  /* grid-auto-rows: minmax(100px, auto); */
}

.one {
  grid-column-start: 1;
}

.two {
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.two img {
  position: absolute;
  /* z-index: -1; */
  margin-top: 5%;
  padding: 0%;
  width: 10%;
}

.item2-circle {
  background-color: orange;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  opacity: 50%;
  display: inline-block;
}

.three {
  background-color: #ffffff;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.four {
  grid-column-start: 4;
  grid-row: 1 / 3;
}

.five {
  /* background-color: #ffffff; */
  grid-column-start: 1;
  grid-row: 2 / 3;
}

.six {
  grid-column-start: 2;
  grid-row: 2 / 4;
}

.seven {
  grid-column: 3 / 4;
  grid-row: 3 / 3;
}

.eight {
  /* background-color: #ffffff; */
  grid-column: 4 / 5;
  grid-row: 3 / 3;
}

.nine {
  /* background-color: #ffffff; */
  grid-column-start: 1;
  grid-row: 4 / 3;
}

@media (max-width: 800px) {
  #container {
    grid-template-columns: 1fr;
  }
}
